.vwClass1 {
    width: 50vw;
    height: 50vh;
    border: 1px red solid;
    background-color: blue;
    font-size: 5vw;
    flex: 1;
}

.vwClass2 {
    width: 50vw;
    height: 50vh;
    border: 1px red solid;
    background-color: blue;
    font-size: 5vw;
    flex: 2;
}
.vwClass2:hover {
    border: 1px red solid;
    background-color: red;
    font-size: 5vw;
    flex: 1;
}
.head {
    border: 1px red solid;
    height: 150px;
    box-sizing:border-box;
    padding-top: 75px;
    margin: 10px;
}

body {
    /*display: flex;*/
}